.checkout_main h2 {
  border-bottom: 1px solid var(--red);
  padding-bottom: 20px;
}

.checkout_body {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.billing_form {
  width: 100%;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.mandatory_note {
  color: var(--red);
}
.mandatory_field:after {
  content: " *";
  color: var(--red);
  font-size: 20px;
}
.billing_form h5,
.checkout_details h5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.checkout_details {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 50px;
}
.table_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.cash_delivery_text {
  background-color: var(--green);
  padding: 10px;
}

.TandC_text {
  text-align: justify;
}
.TandC_link {
  color: var(--red);
  font-size: 18px;
}
.placeOrder_btn {
  width: 100%;
  padding: 10px 0;
  font-size: 30px;
  border: 1px solid black;
}

.checkBox_main {
  display: flex;
  align-items: center;
}

.checkBox_input {
  border: 1px solid black;
}

.checkBox_label {
  margin: 0 5px 0 5px !important;
}

@media only screen and (max-width: 768px) {
  .checkout_body {
    flex-direction: column;
  }
  .billing_form {
    padding: 0 !important;
    border: none !important;
  }
  .checkout_details {
    padding: 20px;
  }
  .checkout_main h2 {
    text-align: center;
  }
}

/* *********************** Success page ************* */
.success_main {
  display: flex;
  justify-content: center;
}
.success_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  text-align: center;
  background-color: #d9d9d9;
  padding: 80px;
}
.success_redirect_button {
  display: flex;
  justify-content: space-around;
}

.success_icon {
  font-size: 40px;
  background-color: var(--green);
  padding: 5px 10px;
  border-radius: 10px;
}
.apply_coupon_btn {
  display: block;
  width: fit-content;
  margin: 20px auto 0 auto;
  background-color: var(--red);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
}
.apply_coupon_btn:hover {
  background-color: var(--green);
}

@media only screen and (max-width: 768px) {
  .success_redirect_button {
    flex-direction: column;
  }
}
