/* ***************************** This page contain all footer page css
********************************************************************** */

.footerPage_basic {
  padding: 50px 0;
  text-align: justify;
}

/* *********** Privacy policy */
.privacy_policy,
.termsAndCondition,
.about_us_body,
.return_policy {
  background-image: url("https://res.cloudinary.com/dnz6zg4on/image/upload/v1674732164/Frontend_images/Background_images/xhrp6nnbdgtaucbniu9i.webp");
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
}
/* Privacy policy *********** */

/* *********** Contact Us */
.contactMain {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #f6f6f6;
  border-radius: 8px;
}
.emailPhone {
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  .emailPhone {
    flex-direction: column;
  }
}
/* Contact Us *********** */

/* *********** Menu Card */

/* Menu Card *********** */

/* *********** Gift and Ranking */
.rank_body_main {
  background-color: var(--black);
  color: var(--white);
}
.rank_headline {
  color: var(--green);
}
.rank_body_main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.rank_body {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  color: var(--white);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: rgba(100, 188, 70, 0.25) 0px 50px 100px -20px,
    rgba(100, 188, 70, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
}
.logo_for_rank {
  width: 100%;
  height: auto;
}
/* .bronze {
  background-color: #cd7f32;
} */
.silver {
  background-color: #c0c0c0;
}
.gold {
  background-color: #ffd700;
}
.platinum {
  background-color: #d3d2d2;
}
.note {
  color: var(--red);
}
.bi-infinity {
  font-size: 30px;
  vertical-align: middle;
}
@media only screen and (max-width: 960px) {
  .rank_body_main {
    flex-direction: column;
  }
  .rank_body {
    margin: 20px 0;
  }
}
/* Gift and Ranking *********** */
