.product_card_row {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 15px;
  margin: 30px 0 !important;
  text-align: center;
}
.product_name {
  color: var(--white);
  margin-top: 10px;
  font-size: 18px;
}

.product_card_body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  color: var(--white);
  min-width: 270px;
  max-height: 400px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(237, 29, 36, 0.4) 0px 3px 8px;
}
.product_button {
  width: 100%;
  border-radius: 0;
}
.product_button:hover {
  color: var(--black) !important;
}

.product_img {
  width: 250px;
  height: auto;
  min-height: 250px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.product_price {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.price_span::after {
  content: " Tk/-";
}
.loading_spinner {
  grid-column-start: span 4;
}

@media only screen and (max-width: 768px) {
  .product_card_row {
    grid-template-columns: auto;
    justify-content: center;
  }
  .product_card_body {
    min-width: 80vw;
  }
  .product_img {
    min-width: 100%;
  }
}
