.search_bar_body {
  display: flex;
  justify-content: center;
}
.search_bar {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url("https://res.cloudinary.com/dnz6zg4on/image/upload/v1675146630/Frontend_images/logo/pncsq4zgoayegchuqu5t.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search_bar:focus {
  width: 100% !important;
}
.product_card_row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  margin: 30px 0 !important;
  text-align: center;
}
.product_name {
  color: var(--red);
  margin-top: 10px;
  font-size: 25px;
}

.product_card_body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  max-width: 25%;
  /* gap: 10px; */
  color: var(--white);
  min-width: 270px;
  min-height: 400px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(237, 29, 36, 0.4) 0px 3px 8px;
}
.product_button {
  width: 100%;
  border-radius: 0;
}

.product_img {
  width: 250px;
  height: auto;
  min-height: 250px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .product_card_row {
    grid-template-columns: auto;
    justify-content: center;
  }
  .product_card_body {
    min-width: 90vw;
  }
  .product_img {
    min-width: 100%;
  }
}
