.customer_point_wallet_main {
  margin: 50px 0;
  padding: 0 2% !important;
}
.wallet_top_section {
  display: flex;
  justify-content: space-between;
}
.wallet_top_section aside {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 50px 20px;
  width: 340px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  color: var(--dark-red);
}
.wallet_top_section aside:first-child {
  background: rgb(0, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 255, 0.75) 0%,
    rgba(0, 212, 255, 0.75) 100%
  );
}
.wallet_top_section aside:nth-child(2) {
  background: rgb(253, 41, 47);
  background: linear-gradient(
    180deg,
    rgba(253, 41, 47, 0.75) 0%,
    rgba(178, 0, 0, 0.75) 100%
  );
  color: var(--white);
}
.wallet_top_section aside:nth-child(3) {
  background: rgb(135, 193, 89);
  background: linear-gradient(
    180deg,
    rgba(135, 193, 89, 0.75) 0%,
    rgba(5, 130, 64, 0.75) 100%
  );
  color: var(--white);
}

.apply_token_btn {
  background: rgb(0, 106, 106);
  color: var(--white);
  display: block;
  margin: 30px auto 0 auto;
}
.apply_token_btn:hover {
  background: rgb(0, 166, 166);
  transition: 0.3s;
}
.Token_generate_btn {
  display: block;
  margin: 50px auto;
  background-color: rgb(135, 193, 89);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.Token_generate_btn:hover {
  background-color: rgb(117, 192, 56);
}

.time_counter_section {
  margin: 50px 0 0 0;
  text-align: center;
}
.time_counter_body {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
  background: rgb(2, 49, 94);
  background: linear-gradient(
    90deg,
    rgba(2, 49, 94, 0.7) 0%,
    rgba(0, 69, 126, 0.7) 35%
  );
  color: var(--white);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 10px;
}
.time_counter_body span {
  background: rgb(22, 26, 66);
  background: linear-gradient(
    90deg,
    rgba(22, 26, 66, 0.7) 0%,
    rgba(16, 0, 52, 0.7) 100%
  );
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media only screen and (max-width: 600px) {
  .wallet_top_section {
    flex-direction: column;
    gap: 30px;
  }
  .wallet_top_section aside {
    width: auto;
  }
  .time_counter_body {
    flex-direction: column;
    width: 100%;
  }
  .time_counter_body span {
    width: auto;
    font-size: 25px;
  }
}
