.catering_services_body {
  padding: 50px 0;
}

.catering_services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.package_buttons {
  padding: 10px;
  display: block;
  width: fit-content;
  margin: 10px auto;
  font-weight: bold;
}

.catering_services_img {
  max-width: 650px;
  max-height: 450px;
}

.catering_services_img_section {
  position: relative;
}
.sub_img {
  position: absolute;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow-x: hidden !important;
  filter: brightness(1.2);
}
.catering_service_sub_img_left {
  top: 32%;
  left: 0;
}
.catering_service_sub_img_right {
  top: 32%;
  right: 5%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 992px) {
  .sub_img {
    width: 180px;
    height: auto;
    object-fit: contain;
  }
  .catering_services {
    flex-direction: column;
  }
  .catering_services_img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

/* *********************** Catering Display page design */
.package-body {
  background-image: url("https://res.cloudinary.com/dnz6zg4on/image/upload/v1692612139/Frontend_images/Background_images/gmsni7jndqjnm8mwliwu.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.package-body * {
  color: var(--deep-green) !important;
  position: relative;
}

.package-body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.package-body-main {
  padding: 20px 0 !important;
}

.package-headline {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 10px;
  padding: 15px 45px;
  background-color: var(--white);
  font-weight: 700;
}
.package_items {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.package-select-buttons {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.package-select-buttons button {
  border: none;
  background-color: var(--white);
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 900;
  width: 120px;
  border: 1px solid var(--red);
}
.package-select-buttons button:hover {
  background-color: var(--black);
  color: var(--white) !important;
}
.package-select-button-active {
  background-color: var(--red) !important;
  color: var(--white) !important;
}

.package_items-header h4 {
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--red);
  background-color: rgba(255, 255, 255, 0.7);
}
.package_sub_headline {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.package_items_img_left {
  width: 450px;
  height: auto;
  object-fit: cover;
}
.package_items_img_right {
  width: 120px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.package-img-caption {
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--black) !important;
  width: fit-content;
  padding: 3px;
  margin: auto;
  border-radius: 5px;
}
.package_single {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.package_single figcaption {
  text-align: center;
}

.package_checkout_btn {
  padding: 10px;
  color: var(--white) !important;
  display: block;
  width: 100%;
  font-weight: 900;
}
/* custom radio button */
.custom-radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7) !important;
  width: fit-content;
  margin: auto;
  color: var(--black) !important;
  padding: 5px;
  border-radius: 5px;
}

.hidden-radio {
  display: none;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

.hidden-radio:checked + .custom-checkbox:after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%);
  font-size: 36px;
  color: var(--deep-green);
}

.catering-note,
.catering-note i {
  text-align: center;
  color: var(--red) !important;
}

.accepted-package {
  background-color: rgba(0, 0, 0, 0.7);
  width: 60%;
  margin: 80px auto 30px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  position: relative;
  text-align: center;
  border: 1px solid var(--white);
}

.accepted-package-headline {
  background-color: var(--white);
  color: var(--red) !important;
  padding: 10px 20px;
  border-radius: 40px 0 40px 0;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 700;
}

.accepted-package-items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.accepted-package-items p span:nth-child(1) {
  color: var(--white) !important;
}
.accepted-package-items p span:nth-child(2) {
  color: var(--green) !important;
}

.catering-modal-header {
  background: var(--red);
  border: 1px solid var(--white);
}
.catering-modal-header h1 {
  color: var(--white) !important;
  font-weight: 700;
}
.catering-modal-body {
  padding: 0 !important;
}
.package-item-main {
  position: relative;
  color: var(--white) !important;
  margin-top: 2%;
}
.package-video {
  height: 430px !important;
  position: absolute;
}

.package-modal-close {
  font-size: 20px !important;
  padding: 0 !important;
  margin: 0 !important;
  color: var(--white);
  font-weight: 700;
}

.catering-quantity-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catering-quantity-button-title {
  text-align: center;
  margin-bottom: 10px;
  color: var(--white);
}
.catering-quantity-input {
  height: 40px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.9);
}
.catering-quantity-decrease-button {
  border-radius: 5px 0 0 5px;
}
.catering-quantity-increase-button {
  border-radius: 0 5px 5px 0;
}
.catering-package-confirm-btn {
  padding: 8px 0;
  border: 1px solid var(--white);
}

@media only screen and (max-width: 992px) {
  .package_items {
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .package_items_img_left {
    width: 100%;
  }
  .package_items-header {
    text-align: center;
  }
  .accepted-package {
    width: 100%;
  }
  .accepted-package-items {
    grid-template-columns: auto;
  }
  .catering-quantity-section {
    gap: 15px;
    order: 3;
  }
  .catering-quantity-input {
    width: 67px !important;
  }
}

/* Catering Display page design *********************** */

/* *********************** Catering Checkout page design */
.catering-checkout-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  background-image: url("https://res.cloudinary.com/dnz6zg4on/image/upload/v1692686715/Frontend_images/Background_images/hpldnybpokkcekx0j2k4.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
}
.catering-table {
  margin: 8px 0;
}
.catering-table,
.catering-table td,
.catering-table th {
  border: 1px solid var(--ash);
  border-collapse: collapse;
}
.catering-checkout-patterns-bottom {
  transform: rotate(180deg) !important;
}
.catering-checkout-page section:nth-child(1) {
  width: 60%;
}
.catering-checkout-page section:nth-child(2) {
  width: 40%;
}
@media only screen and (max-width: 992px) {
  .catering-checkout-page {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .catering-checkout-page section {
    width: 100% !important;
  }
}
/* Catering Checkout page design *********************** */
