.catering_services_body {
  padding: 50px 0;
}

.catering_services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.package_buttons {
  padding: 10px;
  display: block;
  width: fit-content;
  margin: 10px auto;
  font-weight: bold;
}

.catering_services_img {
  max-width: 650px;
  max-height: 450px;
}

.catering_services_img_section {
  position: relative;
}
.sub_img {
  position: absolute;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow-x: hidden !important;
  filter: brightness(1.2);
}
.catering_service_sub_img_left {
  top: 32%;
  left: 0;
}
.catering_service_sub_img_right {
  top: 32%;
  right: 5%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 992px) {
  .sub_img {
    width: 180px;
    height: auto;
    object-fit: contain;
  }
  .catering_services {
    flex-direction: column;
  }
  .catering_services_img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

/* *********************** Catering Display page design */
.package-body {
  margin: 100px auto;
}
.package-body * {
  color: var(--deep-green) !important;
}
.package_headline {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 10px;
  padding: 15px 45px;
}
.package_items {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.package-select-buttons {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.package-select-buttons button {
  border: none;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
}
.package-select-buttons button:hover {
  background-color: var(--deep-green);
  color: var(--white) !important;
}

.package_items-header h4 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.package_sub_headline {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
}

.package_items_img_left {
  width: 450px;
  height: auto;
  object-fit: cover;
}
.package_items_img_right {
  width: 120px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.package_single {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.package_single figcaption {
  text-align: center;
}

.package_checkout_btn {
  padding: 10px;
  color: var(--white) !important;
  display: block;
  width: 100%;
  font-weight: 900;
}
/* custom radio button */
.custom-radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hidden-radio {
  display: none;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

.hidden-radio:checked + .custom-checkbox:after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%);
  font-size: 36px;
  color: var(--deep-green);
}

.catering-note,
.catering-note i {
  text-align: center;
  color: var(--red) !important;
}

@media only screen and (max-width: 992px) {
  .package_items {
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .package_items_img_left {
    width: 100%;
  }
  .package_items-header {
    text-align: center;
  }
}

/* Catering Display page design *********************** */
