.catering_services_body {
  padding: 50px 0;
}

.catering_services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.package_buttons {
  padding: 10px;
  display: block;
  width: fit-content;
  margin: 10px auto;
  font-weight: bold;
}

.catering_services_img {
  max-width: 650px;
  max-height: 450px;
}

.catering_services_img_section {
  position: relative;
}
.sub_img {
  position: absolute;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow-x: hidden !important;
}
.catering_service_sub_img_left {
  top: 32%;
  left: 0;
}
.catering_service_sub_img_right {
  top: 32%;
  right: 5%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 992px) {
  .sub_img {
    width: 180px;
    height: auto;
    object-fit: contain;
  }
  .catering_services {
    flex-direction: column;
  }
  .catering_services_img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
