.status {
  padding: 3px;
  border-radius: 5px;
}
.pending {
  background-color: var(--yellow) !important;
}
.processing {
  background-color: var(--red);
  color: var(--white);
}
.shipped {
  background-color: var(--green) !important;
}

.order_details {
  display: flex;
  justify-content: space-between;
}
.product_details,
.customer_details {
  width: 50%;
}

.divider {
  margin: 5px 0;
  width: 50px;
  height: 1px;
  background-color: var(--red);
}

.single_product_modal_image {
  width: 100px;
  height: auto;
}
.order_modal_footer {
  display: flex !important;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--ash);
}
.status_select_option {
  width: 50%;
}
