/* ********start*************** Order List page design of admin order list */

.status {
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
}

.pending {
  background-color: var(--yellow) !important;
}

.processing {
  background-color: var(--red) !important;
  color: var(--white);
}

.shipped {
  background-color: var(--green) !important;
  color: var(--white);
}

.order_details {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.product_details {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.customer_details {
  display: flex;
  justify-content: space-around;
}

.single_product_modal_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.order_modal_footer {
  display: flex !important;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--ash);
}
.status_select_option {
  width: 50%;
}
.action_btns {
  display: flex;
  gap: 10px;
}
.details_btn {
  background-color: var(--black);
  color: var(--green);
}
.details_btn:hover {
  background-color: var(--green);
  color: var(--black);
}

/* Order List page design of admin order list *************end********** */

/* ************start*********** Orders page design of Customer Order */
.single_order_section {
  background-color: var(--green);
  color: var(--black);
  padding: 20px;
}
.single_order_section:hover {
  background-color: var(--red);
  color: var(--white);
}
.customer_order {
  margin: 30px;
}

.order_date_id {
  padding: 5px 0;
}

.product_single_order_items {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.product_single_order_first_col {
  display: flex;
  gap: 30px;
}
.order_info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px 0;
}

.order_total_status,
.discount_delivery_charge {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--green);
  padding: 10px 0;
}

.order_image {
  width: 100px;
  height: auto;
}

.order_slide_btn_previous,
.order_slide_btn_next {
  color: var(--deep-green);
  font-size: 30px;
  margin-bottom: -35px !important;
}
.order_slide_btn_previous {
  margin-left: -30px !important;
}
.order_slide_btn_next {
  margin-right: -30px !important;
}

.order_slide_btn {
  display: none;
  padding: 20px 0 !important;
}
.invoice_btn {
  background-color: var(--green);
  color: #000 !important;
}
.invoice_btn:hover {
  background-color: var(--red);
}
.single_order_modal_footer {
  display: flex;
  justify-content: space-between;
}

.order_cancel button {
  color: var(--white) !important;
}
/* Orders page design of Customer Order ************end*********** */

/* ************************** Invoice Design */
.invoice {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
}
.invoice_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  font-weight: bold;
}
.invoice_btn_admin {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #555;
}
.header img {
  max-width: 150px;
}
.details {
  display: flex;
  flex-direction: column;
}
.details .info {
  width: 45%;
}
.details .info h2 {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}
.details .info p {
  font-size: 16px;
  color: #888;
  line-height: 1.5;
  margin-bottom: 20px;
}
.details .items {
  width: 100%;
}
.details table {
  width: 100%;
  border-collapse: collapse;
}
.details table th {
  text-align: left;
  background-color: #eee;
  padding: 10px;
  font-size: 18px;
  color: #555;
  border: 1px solid #ddd;
}
.details table td {
  padding: 10px;
  font-size: 16px;
  color: #888;
  border: 1px solid #ddd;
}
.details table td.qty {
  text-align: center;
}
.details table td.total {
  text-align: right;
  font-weight: bold;
  color: #555;
}
.details .total {
  text-align: right;
  margin-top: 20px;
}
.details .total span {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}
