/* ************ Video Components */
#video_content {
  object-fit: cover;
  width: 100%;
  height: 80vh;
}

/* Video Components ************ */

/* ************************* Welcome Section */
.welcome_section,
.menuSection {
  background-image: url("https://res.cloudinary.com/dnz6zg4on/image/upload/v1674732164/Frontend_images/Background_images/xhrp6nnbdgtaucbniu9i.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  width: 100%;
  height: auto;
  padding: 100px 0;
}
.welcome_text {
  text-align: center;
}
.welcome_text h2 {
  font-size: 40px;
  margin: 25px 0;
}
.welcome_text p {
  text-align: justify;
  margin: 30px 0;
}
.welcome_img {
  width: 100%;
  height: auto !important;
}
/* Welcome section ************************ */

/* ************************* Menu Section */
.menu_content {
  text-align: center !important;
  padding: 40px 0 !important;
}
.menu_link {
  background-color: var(--red);
  color: var(--white);
  padding: 10px 15px;
  border-radius: 15px;
  transition: 0.3s;
  transform: translateY(5px);
  position: absolute;
  right: 0;
  left: 0;
  width: fit-content !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.menu_link:hover {
  background-color: var(--green);
  transform: translateY(-5px);
  color: var(--black);
}
.menu_middle {
  background-image: url("https://res.cloudinary.com/dnz6zg4on/image/upload/v1674897093/Frontend_images/Background_images/gls5451typchinlidwxo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 100px;
}
.menu_middle_items {
  position: relative;
  top: -120px;
  background-color: #fff;
}
.menu_middle_items .col-md-4 {
  border: 1px solid var(--red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
}
.menu_middle_items .col-md-4 span {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}
.mid_menu_imgs {
  width: 100%;
  height: auto;
}
/* Menu Section ************************* */

/* *************************** Carousel section */
.carousel_main {
  text-align: center;
}

/*  Carousel section *************************** */

/* *************************** Facilities section */
.facilities_main {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 100px 0;
  margin: 50px 0 0 0;
  background-image: url("https://res.cloudinary.com/dnz6zg4on/image/upload/v1674641184/Frontend_images/Background_images/xsrd0uolybsbjo7bsizy.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative; /* For background Box Shadow */
}
.facilities_main::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
}
.facilities_main * {
  position: relative;
}
.facilities_main h2 {
  font-size: 45px;
}
.facility_content {
  font-size: 35px;
  margin: 50px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.facility_content p {
  padding: 0 30px;
  border: 5px solid var(--deep-green);
}
.facility_content p:nth-child(1),
.facility_content p:nth-child(3) {
  color: var(--red);
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.facility_content p:nth-child(2),
.facility_content p:nth-child(4) {
  color: var(--deep-green);
  border-top: none;
}
.facility_content p:nth-child(4) {
  border-right: none;
}
/*  Facilities section *************************** */

@media only screen and (max-width: 768px) {
  /* ************ Video Components */
  #video_content {
    height: 100%;
  }

  /* ************************* Welcome Section */
  .left_image {
    margin-bottom: 30px;
  }
  /* ************************ Menu Section */
  .menu_middle_items .col-md-4 {
    border: none;
  }

  /* ************************* Facilities */
  .facility_content span {
    display: block;
    border: none;
    padding-top: 0;
  }
}
