.not-found-main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 75vh;
  background-color: var(--black);
  color: var(--white);
}

.not-found-main-body h1 {
  font-size: 200px;
  font-family: "Berkshire Swash", cursive;
  color: var(--red);
  animation: notFound 2s linear 2s infinite alternate;
}
.not-found-main-body h3 {
  color: var(--red);
}
.not-found-main-body h6 {
  font-size: 30px;
  margin: 20px 0;
  color: var(--white);
}
.not-found-main-body h6 a {
  color: var(--white);
  background-color: var(--red);
  padding: 5px;
  border-radius: 5px;
}
.not-found-main-body h6 a:hover {
  background-color: var(--green);
  color: var(--black);
}

@keyframes notFound {
  0% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(-10deg);
  }
  0% {
    transform: skewX(10deg);
  }
}
