@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");

.not_found_main_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: #64bc46;
  color: #ed1d24;
}

.not_found_main_body h1 {
  font-size: 200px;
  font-family: "Kavoon", cursive;
}

.not_found_main_body h6 {
  font-size: 30px;
  margin: 20px 0;
}
.not_found_main_body h6 a {
  text-decoration: none;
  color: #f8f8ff;
  background-color: #ed1d24;
  padding: 10px;
  border-radius: 5px;
}
.not_found_main_body h6 a:hover {
  background-color: #228b22;
}
