/* =========================== View Profile */
.view_profile {
  margin-top: 20px;
  text-align: center;
}
.profile_card {
  display: flex;
  justify-content: space-around;
}
.card-img-top,
.uploaded_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.uploaded_image {
  border: 1px solid var(--red);
}
.view_profile_name {
  text-transform: uppercase;
}
.view_profile_contact {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.view_profile_rank_img {
  width: 150px;
  height: auto;
  object-fit: contain;
  /* position: absolute;
  top: 10px;
  left: 10px; */
}

.image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-upload-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--red);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 5px;
  font-size: 50px;
  cursor: pointer;
}
.upload_image_section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
}
.ProfilePicInput {
  display: none;
}

.edit_link {
  position: absolute;
  right: 20px;
  font-size: 20px;
}

/* View Profile =========================== */
