/* =========================== View Profile */
.view_profile {
  margin-top: 20px;
  text-align: center;
}

.profile_card {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
.customer_info {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.slide_box {
  width: 400px;
}

.MuiSlider-track {
  background-color: var(--red) !important;
  border: 1px solid var(--red) !important;
  height: 10px !important;
}
.MuiSlider-rail {
  background-color: var(--green) !important;
  border: 1px solid var(--green) !important;
  height: 10px !important;
}
.MuiSlider-thumb {
  width: 0 !important;
  height: 0 !important;
}
.MuiSlider-mark {
  color: var(--black) !important;
  width: 2px !important;
  height: 30px !important;
}

.MuiSlider-markLabel {
  font-weight: bold !important;
}

.card-img-top,
.uploaded_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.uploaded_image {
  border: 1px solid var(--red);
}
.image_note {
  position: absolute;
  right: 10px;
  top: 10px;
}
.view_profile_name {
  text-transform: uppercase;
  margin: 10px 0;
}
.view_profile_contact {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.view_profile_rank_img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-upload-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--red);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 5px;
  font-size: 50px;
  cursor: pointer;
}
.upload_image_section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
}
.ProfilePicInput {
  display: none;
}

.edit_link {
  position: absolute;
  right: 20px;
  font-size: 20px;
}
@media only screen and (max-width: 960px) {
  .profile_card {
    flex-direction: column;
  }
  .slide_box {
    width: 100%;
  }
}
/* View Profile =========================== */
