.dashboard_welcome_page {
  text-align: center;
}

/* **************** SideNav Bar **********************/
#sidenavAccordion {
  background-color: var(--black);
}
.sb-sidenav-menu-heading {
  color: #778d45 !important;
}

.collapsed_Menu {
  cursor: pointer;
  color: #aec09a !important;
}
.collapsed_Menu:hover,
.collapse_sub_menu {
  color: #aec670 !important;
}
.collapse_sub_menu::before {
  content: "- ";
  padding-right: 5px;
}
.collapse_sub_menu:hover {
  color: var(--white) !important;
}
.bi-chevron-double-down,
.bi-chevron-double-right {
  color: #aec09a !important;
}

.cross_btn {
  text-align: right !important;
  padding-right: 10%;
  background-color: var(--black);
  color: var(--white);
}

/* **************** TopNav Bar **********************/
.top_nav {
  background-color: var(--black) !important;
}
.bi-person {
  color: var(--white) !important;
  border: 1px solid #aec09a !important;
  padding: 5;
}
.bi-person:hover {
  background-color: #778d45;
  transition: 0.2s;
}

.bi-list {
  color: var(--white) !important;
  font-size: 18px;
}
.userName_login {
  background-color: var(--red);
  padding: 3px 10px;
  color: var(--white) !important;
  border-radius: 5px;
  text-transform: uppercase;
}
.userName_login:hover {
  background-color: var(--green);
}
.logout_dropdown_btn {
  cursor: pointer;
}
.new_order_animation {
  background-color: var(--red);
  animation: mymove 1s infinite;
}
@keyframes mymove {
  from {
    background-color: var(--red);
    color: var(--white);
    scale: 1.3;
  }
  to {
    background-color: var(--black);
  }
}
@media only screen and (min-width: 960px) {
  .cross_btn {
    display: none;
  }
}
